.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -66px !important;
    /* 默认情况下缩进左侧66px，只留一点箭头部分 */
  }
  
  .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
    left: 0 !important;
    /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
  }

@font-face{
  font-family:'cat' ;  /* 字体名自定义即可 */
  src:url('/fonts/cat.ttf'); /* 字体文件路径 */
  font-display : auto;
}

body {
  font-family: 'cat';
}

.sakana-box{
  position: fixed;
  right: 0;
  bottom: 0;
  transform-origin: 100% 100%; /* 从右下开始变换 */
}

#page-header {
  background: transparent !important;
}